.hero-section {
    height:calc(100vh - 55px);
    margin-top: 55px;
    position: relative;
}
.hero-section .overlay{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, oklch(35.9% .144 278.697), oklch(38.1% .176 304.987),oklch(40.8% .153 2.432));
}
.hero-image-div{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    position: relative;
    z-index: 10;
    max-width: 450px;
    margin: 10px;
}
.hero-image{
    width: 90%;
    height: 90%;
    object-fit: cover;
    
}
.autotype{
    min-height: 80px;
    top: -10px;
    position: relative;
}

@media (max-width: 768px) {
    .hero-section .autotype{
        font-size: 18px;
        min-height: 60px;
        top: 5px;
    }
    .hero-section p{
        font-size: 12px;
    }
    .hero-section::after,
    .hero-section::before{
        width: 60px;
        height: 100px;
    }
    .hero-image-div{
        border-radius: 10px;
    }
    .hero-btn{
        font-size: 12px !important;
    }
    .discount{
    font-size: 12px !important;
    padding: 3px 6px !important; 
    top: 5px;
    left: 5px;
    }
}
.discount{
    background-color: rgb(214, 28, 28);
    animation: opacity 1.3s ease-out infinite;
    position: absolute;
    top: 20px;
    left: 20px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}
@keyframes opacity{
    0%{
        background-color: rgb(214, 28, 28);
    }
    70%{
       background-color: rgba(214, 28, 28, 0.527) 
    }
    100%{
       background-color: rgb(214, 28, 28) 
    }
}