.hero-section {
    height:100vh;
    margin-top: 55px;
    position: relative;
}

.hero-section::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #51724a1e;
    top: 0;
    left: 0;
} 
.hero-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hero-btn{
    position: relative;
    z-index: 5;
}
.autotype{
    min-height: 80px;
    top: -10px;
    position: relative;
}

@media (max-width: 768px) {
    .hero-section {
        height: 70vh;
    }
    .hero-section .autotype{
        font-size: 18px;
        min-height: 60px;
        top: 5px;
    }
    .hero-section p{
        font-size: 12px;
    }
    .hero-section::after,
    .hero-section::before{
        width: 60px;
        height: 100px;
    }
    .hero-btn{
        font-size: 12px !important;
    }
}