.parent{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    z-index: 1000000000000000;
    background-color: rgba(242, 27, 250);
}
.loader {
    position: relative;
    width:  80px;
    height: 80px;
    background: #de3500;
    transform: rotateX(65deg) rotate(45deg);
    transform: perspective(200px) rotateX(65deg) rotate(45deg); 
    color: #ffffff;
    animation: layers1 1s linear infinite alternate;
  }
  .loader:after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    animation: layerTr 1s linear infinite alternate;
  }

  @keyframes layers1 {
    0% { box-shadow: 0px 0px 0 0px  }
   90% , 100% { box-shadow: 20px 20px 0 -4px  }
  }
  @keyframes layerTr {
    0% { transform:  translate(0, 0) scale(1) }
    100% {  transform: translate(-25px, -25px) scale(1) }
  }
   .hint{
    position: fixed;
    left: 50%;
    top: 200px;
    transform: translateY(-50%);
    padding:5px;
    border-radius: 15px;
    text-align: right;
   }
   @media (max-width: 600px) {
     .hint {
       font-size: 0.8rem;
       top: 100px;
       left: 10%;
     }
   }
   .hint::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(81, 81, 253);
    border-radius: 15px;
    z-index: -1;
    right: 0;
    top: 0;
    text-align: right;
    animation: open 50s linear;
   }
   @keyframes open{
    0%{
      width: 0;
    }
    100%{
      width: 100%;
    }
   }