.product-details{
    min-height: fit-content;
}
.details-box{
    text-align: center;
    color: red;
    width: 400px;
}
.details-box img{
    width: 200px;
    height: 150px;
}
@media (max-width: 600px) {
    .details-box{
        width: 100%;
        padding: 10px;
    }
    .details-box p{
        font-size: 14px;
    }
}
.details-box .info{
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}
.price-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}