.form-container{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(88, 88, 88, 0.26);
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container .form{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* width: 450px; */
    width: fit-content;
    margin: 100px auto;
    position: relative;
    border: 2px solid #9b9a9a;
}
.form-container .form .overlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(253, 239, 239, 0.1);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
.form-container .form .overlay span{
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid red;
    border-left-color: transparent;
    color: red;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 500px){
    .form-container .form{
        width: 90%;
        margin: 50px auto;
    }
    
}
.form-container .form input,
.form-container .form textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}
.form-container .form input:focus,
.form-container .form textarea:focus{
    border-color: #378fee;
    box-shadow: none !important;
}
.close-button{
    background-color: white;
    color: rgba(255, 0, 0, 0.733);
    padding: 0 10px;
    border-radius: 5px;
    font-size: 25px;
    border: 1px solid rgba(255, 0, 0, 0.733);
    cursor: pointer;
    transition: 0.3s;
}
.close-button:hover{
    background-color: rgba(255, 0, 0, 0.933);
    color: white;
}
.manage-table{
    border: 2px solid #cac8c8;
}
@media (max-width:820px) {
    .manage-table{
        overflow: auto;
    }
    
}
.manage-table .description{
        max-width: 150px;
        height: 150px;
        overflow: auto;
}
.manage-table td .email-box{
    width: 50px;
}
.manage-table td .email-box span{
    position: sticky;
    background-color: #eee;
    width: fit-content;
    cursor: pointer;
}
.manage-table td .email-box .full{
    display: none;
}
.manage-table td .email-box:hover .full{
    display: block;
}
.manage-table td .email-box:hover .short{
    display: none;
}
.sideBar{
    width: 10px;
    position:fixed;
    top: 50px;
    left: -12px;
    background-color: #e6e3e3;
    padding: 10px;
    padding-top: 20px;
    z-index: 99;
    height:100vh;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgb(0, 0, 0,0.5);
}
.sideBar > div{
    overflow: hidden;
}
.sideBar.showIt{
    width: 150px;
}
.sideBarIcon{
    position: absolute;
    right: -22px;
    transition: 0.2s;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
}
.sideBarIcon:hover{
    color:rgb(6, 119, 240);
}
.sideBar .side{
    border-bottom: 2px #a5a4a4 solid;
    color:rgb(6, 119, 240);
    transition: 0.2s;
    padding: 6px 4px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 10px;
}
.sideBar .side:hover{
    background-color: white;
    color:rgb(4, 91, 252);
}