.cart-number{
    top: -15px;
    left:-12px;
}
.scroll{
    background-color: rgba(0, 110, 255, 0.6) !important;
}
#mainNav {
   background-image: linear-gradient(to right, oklch(41.76% 0.22674 272.836),oklch(57.028% 0.22462 5.214));
}