/* Corrected @import URL */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Italiana&family=Italianno&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee !important;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.mt-57{
  margin-top: 56px;
}
.mt-80{
  margin-top: 80px;
}
.dark-mode {
  background-color: #3d3d3d;
  color: #f1f1f1 !important;
}
.dark-mode .content {
  background-color: #1e1e1e !important;
  color: #f1f1f1 !important;
  border: 1px solid #333 !important;
}
.dark-mode a,
.dark-mode .title {
  color: #fff !important;
}
.bg-color{
  background-color: #f0f0f0;
}
.holder{
  max-width: 1000px;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  color: red;
}
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border-radius: 50%;
  /* -webkit-mask: radial-gradient(farthest-side,#0000 40%,#474bff 41%); */
  background: linear-gradient(0deg ,rgba(71,75,255,0.5) 50%,rgba(71,75,255,1) 0) center/4.5px 100%,
       linear-gradient(90deg,rgba(71,75,255,0.25) 50%,rgba(71,75,255,0.75) 0) center/100% 4.5px;
  background-repeat: no-repeat;
  animation: spinner-d3o0rx 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
  100% {
     transform: rotate(1turn);
  }
}
